a{
    text-decoration: none;
}

#btnUp{
    width: 25px;
    height: 25px;
    font-size: 23px;
    border-radius: 45%;
    border: none;
    outline: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    background-color: rgb(182, 73, 100);
    padding: 0%;
    display: block;
}
#btnUp:active{
    background-color: white;
}
/*Desktop view*/
@media screen and (min-width:1280px){

    *{
        width: 100%;
        color: rgb(0, 0, 0);
        margin: 0px;
    }
    #container{
        width: 100%;
        background-image: linear-gradient(to right,white,silver);
        top: 0;
        height: 60px;
        box-sizing: border-box;
        transition: top 0.3s;
        display: block;
        position: fixed;
    }
    #navBar{
        height: 60px;
        display: flex;
        justify-content: start;
        box-sizing: border-box;
    }
    #navList{
        font-size: 15px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        box-sizing: border-box;
    }
    .navItem{
        height: 60px;
        display: flex;
        width: 100px;
        text-align: center;
        align-items: center;
        box-sizing: border-box;
    }
    .navItem a:hover{
        display: flex;
        color: red;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .navItem a:active{
        color:black;
    }
    
    .section{
        width: 100%;
        min-height: 100vh;
        font-size: 20px;
        z-index: -1;
        box-sizing: border-box;
    }
    #section1{
        background-image: linear-gradient(to left, green,lightblue);
        padding: 120px 0px 0px 20px;
    }
    #section2{
        background-image: linear-gradient(to right, green,lightblue);
        padding: 120px 0px 0px 20px;
    }
    #section3{
        background-image: linear-gradient(to left, green,lightblue);
        padding: 120px 0px 0px 20px;
    }
    #section4{
        background-image: linear-gradient(to right, green,lightblue);
        padding: 120px 0px 0px 20px;
    }
    .section pre,h1{
        text-align: left;
        color: white;
    }
    
}

/*Desktop view*/
@media screen and (min-width:960px) and (max-width:1279px){

    *{
        width: 100%;
        color: rgb(0, 0, 0);
        margin: 0px;
    }
    #container{
        width: 100%;
        background-image: linear-gradient(to right,white,silver);
        top: 0;
        height: 60px;
        box-sizing: border-box;
        transition: top 0.3s;
        display: block;
        position: fixed;
    }
    #navBar{
        height: 60px;
        display: flex;
        justify-content: start;
        box-sizing: border-box;
    }
    #navList{
        font-size: 13px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        box-sizing: border-box;
    }
    .navItem{
        display: flex;
        width: 100px;
        height: 60px;
        text-align: center;
        align-items: center;
        box-sizing: border-box;
    }
    .navItem a:hover{
        color: red;
    }
    .navItem a:active{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        color: red;
    }
    
    .section{
        width: 100%;
        min-height: 100vh;
        font-size: 15px;
        z-index: -1;
        box-sizing: border-box;
    }
    #section1{
        background-image: linear-gradient(to left, green,lightblue);
        padding: 120px 0px 0px 15px;
    }
    #section2{
        background-image: linear-gradient(to right, green,lightblue);
        padding: 120px 0px 0px 15px;
    }
    #section3{
        background-image: linear-gradient(to left, green,lightblue);
        padding: 120px 0px 0px 15px;
    }
    #section4{
        background-image: linear-gradient(to right, green,lightblue);
        padding: 120px 0px 0px 15px;
    }
    .section pre,h1{
        text-align: left;
        color: white;
    }
    
}

/*tablet view*/
@media screen and (min-width:700px) and (max-width:959px){

    
    *{
        width: 100%;
        color: rgb(0, 0, 0);
        margin: 0px;
    }
    #container{
        width: 100%;
        height: 60px;
        background-image: linear-gradient(to right,white,silver);
        align-items: center;
        display: block;
        position: fixed;
        top: 0;
        box-sizing: border-box;
        transition: top 0.3s;
    }
    #navBar{
        height: 60px;
        display: flex;
        justify-content: start;
        box-sizing: border-box;
    }
    #navList{
        height: 60px;
        font-size: 10px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        box-sizing: border-box;
    }
    .navItem{
        display: flex;
        width: 60px;
        height: 60px;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    .navItem a:hover{
        color: red;
    }
    .navItem a:active{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        color: red;
        
    }
    
    .section{
        width: 100%;
        min-height: 100vh;
        font-size: 12px;
        box-sizing: border-box;
        z-index: -1;
    }
    #section1{
        background-image: linear-gradient(to left, green,lightblue);
        padding: 120px 0px 0px 10px;
    }
    #section2{
        background-image: linear-gradient(to right, green,lightblue);
        padding: 120px 0px 0px 10px;
    }
    #section3{
        background-image: linear-gradient(to left, green,lightblue);
        padding: 120px 0px 0px 10px;
    }
    #section4{
        background-image: linear-gradient(to right, green,lightblue);
        padding: 120px 0px 0px 10px;
    }
    .section pre,h1{
        text-align: left;
        color: white;
    }
    

}


/*large mobile or small tablet*/
@media screen and (max-width:699px) and (min-width:481px){

    
    *{
        width: 100%;
        color: rgb(0, 0, 0);
        margin: 0px;
    }
    #container{
        width: 100%;
        height: 30px;
        background-image: linear-gradient(to right,white,silver);
        align-items: center;
        display: flex;
        position: fixed;
        top: 0;
        box-sizing: border-box;
    }
    #navBar{
        height: 30px;
        display: flex;
        justify-content: start;
        box-sizing: border-box;
    }
    #navList{
        height: 30px;
        font-size: 8px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        box-sizing: border-box;
    }
    .navItem{
        display: flex;
        width: 50px;
        height: 30px;
        text-align: center;
        align-items: center;
        box-sizing: border-box;
    }
    .navItem a:hover{
        color: red;
    }
    .navItem a:active{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        color: red;
        
    }
    
    .section{
        width: 100%;
        min-height: 100vh;
        font-size: 9px;
        box-sizing: border-box;
        z-index: -1;
    }
    #section1{
        background-image: linear-gradient(to left, green,lightblue);
        padding: 45px 0px 0px 5px;
    }
    #section2{
        background-image: linear-gradient(to right, green,lightblue);
        padding: 45px 0px 0px 5px;
    }
    #section3{
        background-image: linear-gradient(to left, green,lightblue);
        padding: 45px 0px 0px 5px;
    }
    #section4{
        background-image: linear-gradient(to right, green,lightblue);
        padding: 45px 0px 0px 5px;
    }
    .section pre,h1{
        text-align: left;
        color: white;
    }
    

}


/*mobile view*/
@media screen and (max-width:480px) {
    
*{
    width: 100%;
    color: rgb(0, 0, 0);
    margin: 0px;
}
#container{
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right,white,silver);
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    transition: top 0.3s;
}
#navBar{
    height: 30px;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
}
#navList{
    height: 30px;
    font-size: 6px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    box-sizing: border-box;
}
.navItem{
    display: flex;
    width: 35px;
    height: 30px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.navItem a:hover{
    color: red;
}
.navItem a:active{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: red;
    
}

.section{
    width: 100%;
    min-height: 100vh;
    font-size: 6px;
    box-sizing: border-box;
    z-index: -1;
}
#section1{
    background-image: linear-gradient(to left, green,lightblue);
    padding: 35px 0px 0px 4px;
}
#section2{
    background-image: linear-gradient(to right, green,lightblue);
    padding: 35px 0px 0px 4px;
}
#section3{
    background-image: linear-gradient(to left, green,lightblue);
    padding: 35px 0px 0px 4px;
}
#section4{
    background-image: linear-gradient(to right, green,lightblue);
    padding: 35px 0px 0px 4px;
}
.section pre,h1{
    text-align: left;
    color: white;
}

}
